body {

	font-family: "Exo";
	background-color: #ED5C56;

}

.center {

	margin: 0 auto;
	text-align: center;

}

.white {
	color: white;
}

.pic.img {
	border-color: white;
	border-width: 5px;
	border-radius: 100px;
	padding: 5px;
}

.pic.container {
	
	width: 110px;
	height: 110px;
	background-color: white;
	border-radius: 100px; 

}

italic {
	
	font-style: italic; 

}

.links {
	
	margin: 0 auto;
	list-style: none;

}

a {

	color: white;

}

a:hover{

	color: #E6E6E6;

}